{% ckan_extends %}

{% block search_input %}
  {% asset 'ckanext-sfb-layout/search-css' %}
  {% asset 'ckanext-sfb-layout/search-js' %}

  <input type="hidden" id="selected_search_type" value="{{ h.query_prepration(query)[1] }}">
  <div class="row g-3 align-items-end">
    {% if h.is_selection_needed(form_id) and h.is_enabled('sfb_search') %}
      <div class="col-md-4">
        <label class="form-label" for="search-type-dropdown">{{ _('Search type') }}</label>
        <select class="form-select" id="search-type-dropdown">
          <option value="0">{{ _('Simple search') }}</option>
          <option value="column">{{ _('Search CSV/XLSX columns') }}</option>
          <option value="publication">{{ _('Search linked publications') }}</option>
          {% if h.which_sfb() == '1153' %}
            <option value="sample">{{ _('Search linked samples') }}</option>
          {% else %}
            <option value="material_combination">{{ _('Search material or material combination') }}</option>
            <option value="surface_preparation">{{ _('Search surface preparation') }}</option>
            <option value="atmosphere">{{ _('Search atmosphere') }}</option>
            <option value="data_type">{{ _('Search data type') }}</option>
            <option value="analysis_method">{{ _('Search measurement/analysis method') }}</option>
          {% endif %}
        </select>
      </div>
    {% endif %}
    <div class="{% if h.is_selection_needed(form_id) and h.is_enabled('sfb_search') %}col-md-8{% else %}col-12{% endif %}">
      <div class="input-group search-input-group">
        <input id="field-giant-search" type="hidden" name="q" value="{{ query }}">
        <input id="field-giant-search-mimic" type="text" class="form-control input-lg"
               value="{{ h.query_prepration(query)[0] }}" autocomplete="off"
               placeholder="{{ placeholder }}" aria-label="{{ placeholder }}">
        {% block search_input_button %}
          <button class="btn btn-default btn-lg" type="submit" value="search" aria-label="{{ _('Submit') }}">
            <i class="fa fa-search"></i>
          </button>
        {% endblock %}
      </div>
    </div>
  </div>
{% endblock %}
